pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
imbalanced-learn
category-encoders
shap
fastapi
uvicorn
pydantic
streamlit
streamlit-folium
folium
plotly
geopy
haversine
tqdm
pytest
httpx
joblib
python-multipart
requests
google-generativeai
groq
python-dotenv
uvicorn